/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom root variables for theming */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Sumana', serif; /* Changed to serif to match 'Sumana' font style */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Custom utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar unless hovering */
.no-scrollbar {
  overflow: hidden;
}

.no-scrollbar:hover {
  overflow: auto;
}

/* Hide scrollbar styles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
